@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --color-highlight: 0 100% 62%;
    --background-default: 0 0% 100%;
    --background-primary: 50 25% 95%;
    --text-normal: 190 10% 12%;
    --text-primary: 215 100% 21%;
    --text-secondary: 217 33% 17%;

    --text-button-primary: 0 0% 100%;
    --text-button-secondary: 215 100% 21%;
    --text-button-icon: 40 100% 13.5%;
    --button-background-primary: 185 97% 28%;
    --button-shadow-primary: 185 98% 20%;
    --button-shadow-secondary: 215 100% 21%;
    --button-shadow-icon: 40 100% 13.5%;
    --button-border-secondary: 215 100% 21%;
    --button-icon-background: 39.8 78.8% 70.4%;
  }
}

@layer base {
  body {
    @apply bg-default text-normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-crimsonPro;
  }
}
