@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background-default: 0 0% 100%;
    --background-primary: 50 25% 95%;
    --text-normal: 190 10% 12%;
    --text-primary: 215 100% 21%;
    --text-secondary: 180 1% 51%;
    --text-highlight: 0 100% 62%;

    --text-button-primary: 0 0% 100%;
    --button-background-primary: 185 97% 28%;
  }
}

@layer base {
  body {
    @apply bg-default text-normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-domine;
  }
}
